.navbar {
  background-color: #f5fafa;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  font-family: monospace;
  font-size: 1.5em;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-grow: 1;
}

.navbar-menu li {
  background-color: antiquewhite;
  margin-right: 16px;
  border-radius: 0.25em;
  padding: 0.25em;
  margin-bottom: 0.5em;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.8);
}

.navbar-menu li a {
  color: #333;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #007bff;
}